body.nightmode-transition.mdui-loaded {
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.mdui-appbar .mdui-toolbar,
.mdui-appbar .mdui-tab,
.mdui-card,
.paste-link a {
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.mdui-panel-item,
.mdui-panel-item .mdui-panel-item-summary,
.mdui-panel-item .mdui-panel-item-header {
  transition:
    all 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.3s ease-out;
}